body{
  margin: 50px 50px;
  background-color: rgba(0, 255, 208, 0.27);
  color: black;
  font-size: 30px;

}

section{
  width: 100%;
  height:auto;
  margin: 20px 20px;
}

.headimg{
  width: 200px;
  height: 200px;
  border-radius: 50%;

}
.headImg{
  font-size: 30px;
  text-align: center;
}
.basicinfor{
  font-size: 50px;
  color: blue;
}

.basicInformation{
  margin: 20px 100px;
  border-style:groove;
  border-color: red;
  border-width: 20px;
  text-indent: 2em;
  font-size: 50px;
  text-align: left;

}
.family{
  font-size: 50px;
  color: blue;


}
.jianjie{
  text-indent: 2em;
  border-style:groove;
  border-color: red;
  border-width: 20px;

}
.jianjie.p{
  display: inline-block;
  font-size: 30px;
  margin: 2em;
  color: blue;


}


.fengjing{

  margin-top: 10px;
  text-align: center;


}
.fengjingimg{
  height: 400px;
  width: 400px;
}
.jineng{
  font-size: 50px;
  color: blue;
}

.gerenjineng{
  font-size: 30px;
  margin: 20px 20px;
  border-style:groove;
  border-width: 20px;
  border-color: red;
}

nav{
  text-align: center;
}
nav a{
  background-color: black;
  width: 400px;
  height: 150px;
  font-size: 50px;
  color: red;
}

.school{
  font-size: 50px;
  color: blue;


}
.schooljianjie{

    text-indent: 2em;
    color: black;
    font-size: 30px;
    border-style: groove;
    border-color: red;
    border-width: 20px;


}

.schoolpicture{
  margin-top: 10px;
  text-align: center;
}
.schoolpic{
  height: 400px;
  width: 400px;
}
